<div id="<%= dom_id user %>" class="border rounded p-5 m-5">
  <h5 class="text-muted">
    Name
  </h5>
  <%= user.name %>

  <br><hr class="my-5">

  <h5 class="text-muted">
    Password
  </h5>
  <%= user.password %>
</div>
